<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /portal/public/
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

Options -Indexes

<Files "*.php">
    Order allow,deny
    Deny from all
</Files>
<FilesMatch "\.(css|js|png|jpg|jpeg|gif|ico|svg)$">
    Order allow,deny
    Allow from all
</FilesMatch>
